
/* ________________nav-bar toggler__________________________________ */
/* _________________________________________________________________ */
#nav-toggler{
    display: none;
}
.body{
    font-family: 'Mulish', sans-serif;
    color: black;
    width: 100%;
}
.nav-bar{
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 
}
.nav-bar ul{
    display: flex;
    
}
.nav-bar ul li{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

}
.nav-bar ul li a{
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: lightcoral;
}
.nav-toggler-icon{
    display: none;
}
section{
    margin-top: 70px;
    margin-bottom: 50px;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 4em;
}
.banner-info{
    width: 50%;
    margin-left: 50px;
}
.img{ 
    width: 30%;
}
.link-button{
    background-color: lavender;
    color: black;
    padding: 10px;
    border-radius: 50px;
}
hr{
    width: 80%;
    margin-bottom: 50px;
}
main{
    max-width: 100%;
}
.container{
    justify-content: center;
}
.section-title{
    margin-bottom: 100px;
    text-align: center;
    margin-top: 200px;
    font-size: 3em;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    padding-left: 20px;
    grid-column-gap: 2px;

}
.thumbnail:hover{
    transition: 2s;
   
}
.blog{
    padding: 2px;
    width: 300px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 5px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.rating-info{
    display: flex;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #858072;
}
.more-option{
    float: right;
    padding-right: 30px;
    margin-bottom: 20px;
}
.extra-part{
    display: flex;
    margin-top: 300px;
}
.see-button{
    width: 20px;
    font-size: 26px;
    color: lightcoral;
    padding: 20px;
}
.part-info{
    width: 50%;
}
.part-img{
  width: 50%;
  margin-left: 50px;
}
h2{
    font-size: 2em;
    font-weight: 700;
}
.button{
    background-color: lavender;
    padding: 5px;
    border-radius: 5px;
}

footer{
    clear:both;
    background-color: lavender;
    color: black;
}
.footer-item{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.icons{
    display: grid;
    column-gap: 5px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}
/* ________________________media queries__________________________________*/
/* ____________________________________________________________________________ */
/* ++++++++++++++++++++++++Mobile devices++++++++++++++++++++++++++++ */
/* ________________________________________________________________________________ */

/* __________________________responsive design_________________________________ */

@media only screen and (min-width:688px) and (max-width:992px) {
    .nav-bar{
        min-width: 180%;
    }
    .top-banner{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2px;
        justify-content: center;
        align-items: center;
    }
    .extra-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-between;
        align-items: center;
    }
    footer{
        min-width: 200%;
    }
    .nav-bar{
        position: fixed;
        top: 2px;
        height: 40px;
        left: 0;
        width: 100%;
    }
    .nav-toggler-icon{
        top: o;
        margin-left: 500px;
        position: fixed;
        display: block ;
    }
    
